

/* profiles */
.events-heading {
    color: #34364A;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events-heading h1{
    font-size: 2.7rem;

}
.events-card-wrap{
    margin: 30px 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.event-card-wrapper{
    width: 22%;
    box-sizing: border-box;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    transition: .3s all !important;
}
.event-card-wrapper:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.200);
}
.event-card-wrapper img{
    width: 100%;
}
.event-card-wrapper img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.event-card-wrapper h3{
    margin: 30px 0 10px;
    font-size: 1.3rem;
    text-align: center;
    user-select: none;
}
.event-card-wrapper a{
    text-decoration: none;
    color: #000;
}
.event-card-wrapper a:hover{
    color: #2447F9;
}
.event-card-wrapper p{
    text-align: center;
    font-size: .9rem;
    color: #34364ada;
    user-select: none;
}

/* recent events gallery */
